# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2

# Global reviewers for this project
* @lbadenhop

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js @js-owner

# Config files
*.html @lbadenhop @winghonlai
*.js    @lbadenhop @winghonlai
*.toml @lbadenhop @winghonlai
*.yml @lbadenhop @winghonlai
*.json @lbadenhop @winghonlai

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat

# Theme and CMS config files
/layouts/ @lbadenhop @winghonlai
/static/admin/ @lbadenhop @winghonlai

# Documentation files for Actionable Insights
/content/en/docs/get_actionable_insights/ @sallylanda6

# Documentation files for Consumer Insights
/content/en/docs/manage_marketplace/consumer_experience/get_actionable_insights/consumer_insights/ @sallylanda6

# Documentation files for Integrate with Central
/content/en/docs/integrate_with_central/ @lbadenhop @robertengaxway

# Documentation files for Asset Catalog
/content/en/docs/manage_asset_catalog/ @lbadenhop @robertengaxway

# Documentation files for Unified Catalog
/content/en/docs/manage_unified_catalog/ @lbadenhop @robertengaxway

# Documentation files for SAAS
/content/en/docs/saas_api_gateway/ @lbadenhop @robertengaxway

# Documentation files for Marketplace
/content/en/docs/manage_marketplace/ @lbadenhop @cbordier

# Documentation files for Product Foundry
/content/en/docs/manage_product_foundry/ @lbadenhop @cbordier

# Documentation files for Service Registry
/content/en/docs/manage_service_registry/ @lbadenhop @robertengaxway

# Documentation files for Connect and Manage environments
/content/en/docs/connect_manage_environ/ @lbadenhop @mpatiaxway

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
